#cameraRefButtonAnswerForm {
  padding: 0.5rem 1rem !important;
  background-color: #3b82f6;
  color: white !important;
  border-radius: 0.375rem;
  border: none;
  cursor: pointer;
  font-size: 1rem !important;
  text-align: center;
  font-weight: bold;
  float: right;
}