.download-permission-comment-btn {
  padding: 0 8px;
  margin: 0px;
  font-size: 11px;
  border-radius: 4px;
  border: 1px solid;
  cursor: pointer;
  font-weight: 600;
  transition: all 0.2s ease;
  background-color: transparent;
}

.download-permission-comment-btn.enabled {
  background-color: #74a86b;
  color: white;
}

.download-permission-comment-btn.enabled:hover {
  background-color: #628d5b;
}

.download-permission-comment-btn.disabled {
  background-color: #a1a1a1;
  color: white;
}

.download-permission-comment-btn.disabled:hover {
  background-color: #8f8f8f;
}

.download-actions {
  display: flex;
  align-items: center;
  gap: 5px;
}