.user {
  display: flex;
  flex-direction: row;
  border-top: #ccc 1px solid;
}

.userStats {
  color: #bbbbbb;
  text-align: right;
  width: 30%;
}

.user_mid {
  margin-left: 2rem;
  margin-top: auto;
  margin-bottom: auto;
  width: 60%;
}

.userUsername {
  color: cornflowerblue;
  cursor: pointer;
}
