.viewport-card {
  width: 600px;
  height: 400px;
  overflow: hidden;
  background: #fff;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.viewport-canvas {
  flex: 1;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #fff;
  border-top: 1px solid #ffffff;
}