.popover-container {
  position: relative;
  display: inline-block;
}

.popover-trigger {
  background-color: #007BFF;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 4px;
}

.popover-content {
  position: absolute;
  top: 3%;
  right: 60px;
  /* transform: translateX(50%); */
  margin-bottom: 10px;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 15px;
  z-index: 1000;
  white-space: nowrap;
}